<div *ngIf="artist" class="p-8 max-w-6xl mx-auto">
    <div class="text-center">
        <p class="text-4xl font-boldonse text-blue-main">
            {{artist.name}}
        </p>
    </div>

    <div class="flex mt-6 gap-8 flex-wrap justify-center">
        <div *ngFor="let record of allRecords; let i = index" class="opacity-0 animate-[fadeInUp_0.5s_ease-out_forwards]" [ngStyle]="{ 'animation-delay': (i * 100) + 'ms' }">
            <a [routerLink]="['/records', record.id]" class="transform transition duration-300 hover:scale-105 hover:shadow-lg block">
                <app-record-card [record]="record"></app-record-card>
            </a>
        </div>
    </div>


</div>

<div *ngIf="!artist" class="p-6 text-red-500 text-center text-xl">Artist not found.</div>