<div class="border-r flex flex-col justify-between border-gray-200 h-full">
    <div>
        <div class="p-3 border-b font-boldonse border-gray-200">
            RecordLog.
        </div>
        <div class="m-3 flex flex-col gap-3">
            <div class="hover:bg-gray-100 rounded cursor-pointer p-3" [routerLink]="['home']" routerLinkActive="bg-gray-200">
                Home
            </div>
            <div class="hover:bg-gray-100 rounded cursor-pointer p-3" [routerLink]="['artists']" routerLinkActive="bg-gray-200">
                Artists
            </div>
            <div class="hover:bg-gray-100 rounded cursor-pointer p-3" [routerLink]="['records']" routerLinkActive="bg-gray-200">
                Records
            </div>
        </div>
    </div>
    
    <div class="p-3 text-xs flex items-center gap-3" (click)="apiState = !apiState">
		<div>Etat de l'API :</div>
		<div class="px-1 py-0.5 rounded bg-green-100
		text-green-600 border border-green-600" *ngIf="apiState">
			En Ligne
		</div>
		<div class="px-1 py-0.5 rounded bg-red-100
		text-red-600 border border-red-600" *ngIf="!apiState">
			Hors-Ligne
		</div>
	</div> 
</div>