<div class="border-r flex flex-col justify-between border-gray-200 h-full">
    <div>
      <div class="p-3 border-b border-gray-200">
        RecordLog
      </div>
      <div class="m-3 flex flex-col gap-3">
        <div class="hover:bg-gray-100 rounded cursor-pointer p-3">
          Home
        </div>
        <div class="hover:bg-gray-100 rounded cursor-pointer p-3">
          Artists
        </div>
        <div class="hover:bg-gray-100 rounded cursor-pointer p-3">
          Records
        </div>
      </div>
    </div>
    <!-- <div class="p-3 text-sm items-center">
        <div>Max & Amau</div>
    </div>     -->
  </div>
  