<div class="flex items-center justify-center  w-full">
    <img id="logo" class="w-1/6 my-10 h-auto cursor-pointer" src="logo.png" alt="logo">
    <!-- <img class="hover:animate-[spin_1000ms_linear_infinite] w-2/6 h-auto" src="logo.png" alt="logo"> -->

</div>
<div class="flex justify-center items-center gap-3">
    <button class="w-24 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Artists</button>    
    <button class="w-24 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Records</button>    
</div>
  
  